.icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.logo {
  width: 17%;
  height: auto;
  float: left;
}
.logo-e {
  width: 17%;
  height: auto;
  float:right;
}

.para {
  margin: 25px;
  float:center;
  font-size: 1.5vw ;
}

.para-p {
  margin-left:3%;
  margin-top:6%;
  font-size: 1.5vw ;
}

.para-e {
  margin-top:6%;
  margin-right:3%;
  font-size: 1.5vw ;
}


.section{
  width: 85%;
  float: center;
  margin-left:7.5%;
  margin-right:7.5%;
  clear: both;
}

.para-i {
  margin: 25px;
  text-align:center;
  font-size: 1.5vw ;
  margin-left:7.5%;
  margin-right:7.5%;
}

.heading {
  font-size: 10;
  font-family: Helvetica;
}

.HomePage {
  height: 100%;
  width: 100%;
  max-height: calc(100% - 80px);
  overflow: auto;
  font-family: Calibri,'Gill Sans', 'Gill Sans MT',  'Trebuchet MS', sans-serif;
}
