.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  max-height: calc(100% - 100px); /* subtract the height of the footer */
  overflow: auto;
}
.pictures {
  margin: 10px;
}
.piechart {
  align-self: flex-end;
}
.graph {
  align-self: flex-end;
  margin-left: 20px;
}
.footer {
  align-self: flex-end;
}
.wrapper {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 600px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
  }
  .graph {
    margin-left: 0;
    margin-top: 20px;
    align-self: center;
  }
  .piechart {
    margin-bottom: 20px;
    align-self: center;
  }
}
