
.form-register {
  overflow-y: scroll;
}

.form-body {
  text-align: center;
  padding: 20px 10px;
}

.form-body > * {
  padding: 10px;
}


.form_input-reg {
  width: 60%;
  color: white;
  padding: 20px 0px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #575858;
  font-size:0.9rem;
  display:auto;
}

.footer {
  text-align: center;
}

.header-reg {
  text-align: center;
  font-family: Calibri;
  font-weight: 50;
  font-size: 20pt;
  padding: 2.5px;
  border-radius: 2px;
  border: white;
}


.btn-reg {
  background-color: rgb(137, 127, 127);
  color: rgb(7, 4, 1);
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
  margin: 10px;
}

.btn-reg:hover {
  transform: scale(1.05);
  opacity: 1;
}

.exit-reg{
  text-align: center;
  color: white;
}

.has-error {
  border-color: red;
}

.has-account-link {
  color: grey;
}

.icon-reg{
  width:200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
