.container {
  position: fixed;
}
.chair {
  resize: none;
  width: 400px;
  height: 500px;
}
.square {
  position: fixed;
  width: 30px;
  height: 30px;
  background-color: grey;
}
.graph {
  position: relative;
  float: right;
}
.square.active {
  background-color: darkred;
}
#square1 {
  top: 65px;
  left: 150px;
}
#square2 {
  top: 150px;
  left: 188px;
}
#square3 {
  top: 65px;
  left: 230px;
}
#square4 {
  top: 103px;
  left: 188px;
}
#square6 {
  top: 233px;
  left: 230px;
}
#square5 {
  top: 190px;
  left: 240px;
}
#square7 {
  top: 190px;
  left: 140px;
}
#square8 {
  top: 233px;
  left: 145px;
}
#submitButton {
  position: absolute;
  top: 110px;
  left: 300px;
}
