.container {
  position: absolute;
}
.chair {
  resize: none;
  height: auto;
  max-width: 70%;
}
.square {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: grey;
}
.square.active {
  background-color: darkred;
}
#square1 {
  top: 65px;
  left: 150px;
}
#square2 {
  top: 150px;
  right: 355px;
}
#square3 {
  top: 65px;
  left: 230px;
}
#square4 {
  top: 103px;
  right: 355px;
}
#square5 {
  bottom: 243px;
  right: 310px;
}
#square6 {
  bottom: 200px;
  right: 320px;
}
#square7 {
  top: 190px;
  left: 140px;
}
#square8 {
  top: 233px;
  left: 145px;
}
.textbox {
  position: absolute;
}
.checkbox {
  position: absolute;
}
.checkboxLabel {
  position: absolute;
  right: 140px;
}
#label1 {
  top: 20px;
}
#label2 {
  top: 50px;
}
#label3 {
  top: 80px;
}
#label4 {
  top: 110px;
}
#submitButton {
  position: absolute;
  top: 110px;
  right: 40px;
}
