.container {
  position: absolute;
}
.square {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: grey;
}
.graph {
  position: relative;
}
.square.active {
  background-color: darkred;
}
#square0 {
  top: 120px;
  left: 110px;
}
#square1 {
  top: 120px;
  right: 115px;
}
#square2 {
  bottom: 250px;
  left: 120px;
}
#square3 {
  bottom: 250px;
  right: 120px;
}
.textbox {
  position: absolute;
}
.checkbox {
  position: absolute;
}
.checkboxLabel {
  position: absolute;
  right: 140px;
}
#label1 {
  top: 20px;
}
#label2 {
  top: 50px;
}
#label3 {
  top: 80px;
}
#label4 {
  top: 110px;
}
#submitButton {
  position: absolute;
  top: 110px;
  left: 300px;
}
