.pie-chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

Label {
  color: white;
  position: center;
  font-size: 14pt;
}

.refresh-icon {
  width: auto;
  height: 40px;
  background: none;
  color: white;
  margin-left: 5px;
}

.refresh-button {
  background: none;
  border: none;
}
.refresh-button:hover {
  transform: scale(1.05);
  opacity: 1;
}
