body {
  position: relative;
  color: white;
  height: 100vh;
  background: #1b1919;
  font-family: sans-serif;
  overflow-y: hidden;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#root {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
